# Ignore dotenv
.env

# Ignore npm files
node_modules/
package-lock.json

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore my example files
./src/controllers/WaterController.example.js